<div class="jumbotron py-3">
    <h1 class="display-4 text-center">
        Payment Detail Register
    </h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-payment-detail-form></app-payment-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>CardOwner</th>
                    <th>CardNumber</th>
                    <th>ExpiryDate</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let s of service.list">
                        <td (click)="populateForm(s)">{{s.cardOwnerName}}</td>
                        <td (click)="populateForm(s)">{{s.cardNumber}}</td>
                        <td (click)="populateForm(s)">{{s.expiryDate}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(s.paymentDetailId)"></i>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
